version: "3.8"

services:
  database:
    container_name: "database"
    command:
      - --table_definition_cache=2048
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --innodb-buffer-pool-size=3G
      - --binlog-format=ROW
      - --log-bin=master
    image: mariadb:10.6.13
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - TZ=America/Sao_Paulo
    volumes:
      - ../.data/mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - dt-stream-net

  maxwell:
    container_name: "maxwell"
    image: zendesk/maxwell:latest
    command: bin/maxwell --user=${MYSQL_ROOT_USER} --password=${MYSQL_ROOT_PASSWORD} --host=${MYSQL_HOST} --producer=stdout
    depends_on:
      - database
    networks:
      - dt-stream-net

  redis:
    container_name: redis
    command: ["redis-server", "--appendonly", "yes"]
    image: redis:7.0.12
    volumes:
      - ../.data/.redis:/data
    ports:
      - "6379:6379"
    networks:
      - dt-stream-net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      - PMA_HOST=${MYSQL_HOST}
    ports:
      - 8100:80
    depends_on:
      - database
    networks:
      - dt-stream-net

networks:
  dt-stream-net:
    driver: bridge
